# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Runtime files программы (НЕ должны попасть в репо)
tunnels.json
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini
